@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.blog-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .blog-settings {
    color: color("light");
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // border: 1px solid color("light");
    width: 20rem;
    padding: 1rem;

    // .settings-header {
    // }
    .settings-body {
      display: flex;
      flex-direction: column;

      label {
        display: flex;
        flex-direction: column;
      }
    }

    &__tags {
      display: flex;
      flex-direction: row;
    }
  }

  .blog-editor {
    width: 100%;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    border: 1px solid color("light");
    padding: 1rem;
    color: color("light");

    .editor-head {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1rem;

      button {
        color: color("light");
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 50%;
        padding: 0.8rem;
        transition: all 250ms ease-in-out;

        &:hover {
          color: color("primary");
          background-color: color("light");
        }
      }
    }
    .editor-body {
      display: flex;
      flex-direction: column;

      .editor-tools {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.6rem;
        border-bottom: 1px dashed color("light");
        padding: 1rem 2rem;

        .tool {
          // flex: 1;
          color: color("light");
          font-size: 0.875rem;
          font-weight: 500;
          background-color: transparent;
          border: 1px solid color("light");
          border-radius: 3px;
          padding: 0.5rem 0.75rem;
          min-width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .editor-text {
        height: auto;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        .editor {
          color: color("primary");
          background-color: color("light");
          flex: 1;
          padding: 2rem;
          outline: none;
          font-size: 1rem;
          line-height: 1.6;
          min-height: 100%;
          overflow: auto;
          border: none;
          border-radius: 5px;
        }
      }
    }
  }
}
