@use "../abstracts/variables" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

.nav {
  position: relative;
  height: 3.5em;
  padding: 0 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: color("primary");
  border-bottom: 1px solid color("light");

  &__group {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__mobile-group {
    position: absolute;
    display: flex;
    height: calc(100vh - 3.5rem);
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 120;
    top: calc(3.5em);
    left: 0;
    background-color: color("primary");
  }

  &__mobile-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: color("white");
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    // padding: 1rem 0rem;
    text-decoration: none;
    font-size: font-size("2xl");
    transition: all 150ms ease-in-out;

    &:hover {
      color: color("secondary");
      background-color: color("lime");
    }
  }

  &__item {
    color: color("light");
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    text-decoration: none;
    transition: all 150ms ease-in-out;

    &:hover {
      color: color("primary");
      background-color: color("light");
    }
  }

  &--active {
    color: color("primary");
    background-color: color("light");
    text-decoration: none;
  }
}

.side-nav {
  position: relative;
  // height: calc(100vh - 7rem);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: color("primary");
  border-right: 1px solid color("light");

  &__group {
    height: auto;
    width: 100%;
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bottom {
    border-top: 1px solid color("light");
  }

  &__item {
    color: color("light");
    font-size: 1.2rem;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    text-decoration: none;
    transition: all 150ms ease-in-out;
    cursor: pointer;
    border-bottom: 1px solid color("light");

    &:hover {
      color: color("primary");
      background-color: color("light");
    }
  }

  &--active {
    color: color("primary");
    background-color: color("light");
    text-decoration: none;
  }

  &__mobile-group {
    position: absolute;
    display: flex;
    height: calc(100vh - 3.5rem);
    width: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 120;
    top: calc(3.5em);
    left: 0;
    background-color: color("primary");
  }

  &__mobile-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: color("white");
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    // padding: 1rem 0rem;
    text-decoration: none;
    font-size: font-size("2xl");
    transition: all 150ms ease-in-out;

    &:hover {
      color: color("secondary");
      background-color: color("lime");
    }
  }
}
