@use "abstracts" as *;
@use "base";
@use "components";
@use "layouts";

.main-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  aside {
    width: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  background-color: color("primary");
}

/* Style the main page scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of vertical scrollbar */
  height: 5px; /* Height of horizontal scrollbar */
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: color("light"); /* Scrollbar handle color */
  border-radius: 6px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: darker("light", 5); /* Lighter pink on hover */
}

// ::-webkit-scrollbar-corner {
//   background: color("lime"); /* Corner where scrollbars meet */
// }
